html {
	background: #f0e4d4;
	color: #f0e4d4;

}

body{
	color: #f0e4d4;;
	background: #f0e4d4;

}


.container {
	padding-top: 45px;
}

header {
	background: #f0e4d4;
}


.nav-item {
	padding-right: 20px;
}

.nav-item a {
	color: #2e9599 !important;
}

.nav-item a:hover {
	color: orange !important;
}


.nav-link {
	color: blue;
	font-family: 'RocknRoll One', sans-serif;
}

.container .navbar-brand {
	font-family: 'RocknRoll One', sans-serif;
	font-size: 20px;
	color: #2e9599 !important;

}

.container .navbar-brand:hover {
	color: white !important;
}


.navbar-nav li{
  font-size: 18px;
  }

  .sections {
  	display: inline;
  }


  p{
  	color: black;
  	font-size: 30px;
  	background: #f0e4d4;
  	text-align: justify;
  }

  .projects-about {
  	font-size: 15px;
  }

  .welcome-note {
  	padding-top: 150px;
  	height: 300px;
  	width: 100%;
  	background: #f0e4d4;
  	padding-right: 300px;
  	padding-left: 300px;
  }

  .s:hover{
  	color: #a8216b;
  }

  .f:hover{
  	color: #f36943;
  }

  .d:hover{
  	color: #f7dc66;
  }

  .p:hover{
  	color: #2e9599;

  }
.projects-grid{
	color:#2e9599;
	background: #f0e4d4;
	margin: 0px;
	padding: 100px 100px 300px 100px;


}

.projects-grid h2{
	font-family: 'RocknRoll One', sans-serif;
}	

footer{
	padding: 15px 0px 15px 0px;
	font-family: 'RocknRoll One', sans-serif;
	color:#2e9599;
	display: inline;
	border-top: 2px;
	border-color: #2e9599;
	border-style: solid;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	background: #f0e4d4;
}

.footer-link {
	margin-left: 0 !important;
	margin-right: 50px;
	display: inline;
}

.footer-link:hover{
	color: orange;
}

.bottom-links{
	width: 100%;
	text-align: center;
}















