h1 {
	font-family: lora;
}

.welcome {
	background: url(../me-nutella.jpeg) no-repeat 0px 0px ;
	height: 650px;
	width: auto ;
}


.container {
	padding-top: 45px;
}

.nav-item {
	padding-right: 20px;
}