html {
	background: #f0e4d4;
}

.container {
	padding-top: 45px;
}

.nav-item {
	padding-right: 20px;
}

.nav-item a {
	color: #2e9599 !important;
}

.nav-item a:hover {
	color: white !important;
}


.nav-link {
	color: blue;
	font-family: 'RocknRoll One', sans-serif;
}

.container .navbar-brand {
	font-family: 'RocknRoll One', sans-serif;
	font-size: 20px;
	color: #2e9599 !important;

}

.container .navbar-brand:hover {
	color: white !important;
}


.navbar-nav li{
  font-size: 18px;
  }